In [2]:
# from google.colab import files
# from google.colab import drive
import os
import io
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import chisquare
import numpy as np

from datetime import datetime
# drive.mount('/content/drive') #/MyDrive/Colab Notebooks/데이터/기상데이터

In [42]:
cloud = pd.read_csv('../data/cloud_for_merge.csv', index_col = 0 )
wind = pd.read_csv('../data/wind_for_merge.csv', index_col = 0 )
ta = pd.read_csv('../data/ta_for_merge.csv', index_col = 0 )
rn = pd.read_csv('../data/rn_for_merge.csv', index_col = 0 )

days = pd.date_range(start="2012-02-01",end="2022-10-31")

In [43]:
print(cloud.columns)
print(wind.columns)
print(ta.columns)
print(rn.columns)

Index(['date', 'add', 'ca'], dtype='object')
Index(['date', 'add', 'avg_ws', 'mix_ws', 'max_ws', 'max_ws_wd', 'max_wd',
       'max_ins_ws', 'max_ins_ws_wd', 'mix_wd'],
      dtype='object')
Index(['date', 'add', 'avg_ta'], dtype='object')
Index(['date', 'add', 'sum_rn'], dtype='object')

In [ ]:
print(cloud)
print(wind)
print(ta)
print(rn)

In [7]:
ta

             date add  avg_ta
0      2012-01-01  강원   -4.20
1      2012-01-01  경기   -3.70
2      2012-01-01  경남    0.05
3      2012-01-01  경북   -0.85
4      2012-01-01  광주    0.95
...           ...  ..     ...
67264  2022-10-31  전남   14.20
67265  2022-10-31  전북   13.00
67266  2022-10-31  제주   16.25
67267  2022-10-31  충남   13.45
67268  2022-10-31  충북   10.85

[67269 rows x 3 columns]

In [44]:
cloud['date'] = pd.to_datetime(cloud['date'], format='%Y-%m-%d')
# cloud['time'] = pd.to_datetime(cloud['time'], format='%H:%M:%S')

wind['date'] = pd.to_datetime(wind['date'], format='%Y-%m-%d')
# wind['time'] = pd.to_datetime(wind['time'], format='%H:%M:%S')

ta['date'] = pd.to_datetime(ta['date'], format='%Y-%m-%d')
# ta['time'] = pd.to_datetime(ta['time'], format='%H:%M:%S')

rn['date'] = pd.to_datetime(rn['date'], format='%Y-%m-%d')
# rn['time'] = pd.to_datetime(rn['time'], format='%H:%M:%S')

In [45]:
cloud_wind = pd.merge(cloud, wind, on = ['date', 'add'])
ta_rn = pd.merge(ta, rn, on = ['date', 'add'])
all_merged = pd.merge(cloud_wind, ta_rn, on = ['date', 'add'])

In [26]:
print(all_merged.columns)
print(all_merged.isna().sum())

Index(['date', 'add', 'ca', 'avg_ws', 'mix_ws', 'max_ws', 'max_ws_wd',
       'max_wd', 'max_ins_ws', 'max_ins_ws_wd', 'mix_wd', 'avg_ta', 'sum_rn'],
      dtype='object')
date             0
add              0
ca               0
avg_ws           0
mix_ws           0
max_ws           0
max_ws_wd        0
max_wd           0
max_ins_ws       0
max_ins_ws_wd    0
mix_wd           0
avg_ta           0
sum_rn           0
dtype: int64

In [69]:
all_merged

,date,add,ca,avg_ws,mix_ws,max_ws,max_ws_wd,max_wd,max_ins_ws,max_ins_ws_wd,mix_wd,avg_ta,sum_rn
0,2012-01-01,강원,5.953846,1.80,1.30,5.100,258.50,247.50,9.00,272.800,263.90,-4.20,0.143678
1,2012-01-01,경기,4.880000,1.50,1.30,5.700,288.20,292.50,10.60,281.300,300.60,-3.70,0.018018
2,2012-01-01,경남,4.075000,2.10,1.55,6.600,295.10,270.00,11.30,295.300,292.50,0.05,0.055556
3,2012-01-01,경북,5.325000,2.40,2.00,6.700,302.45,292.50,11.30,293.500,294.45,-0.85,0.612500
4,2012-01-01,광주,8.300000,2.10,1.70,6.400,308.65,315.00,10.40,302.350,326.65,0.95,0.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67264,2022-10-31,전남,2.784615,1.60,1.00,4.400,89.00,67.50,7.30,106.800,52.60,14.20,0.000000
67265,2022-10-31,전북,3.620000,1.20,0.50,3.800,280.20,135.00,6.10,275.600,264.70,13.00,0.000000
67266,2022-10-31,제주,3.325000,3.95,3.60,6.250,61.20,67.50,10.90,63.750,63.00,16.25,0.000000
67267,2022-10-31,충남,4.471429,1.00,0.40,3.625,178.40,135.00,5.70,193.475,169.80,13.45,0.000000
67268,2022-10-31,충북,4.620000,0.75,0.30,2.900,191.55,123.75,5.05,168.800,134.75,10.85,0.000000

In [46]:
all_merged.to_csv('../data/기상데이터(찐최종).csv')

In [46]:
rain = pd.read_csv('../data/rain_ver5.csv', index_col = 0)
# rain

In [47]:
rain = rain.rename(columns={'provin' : 'add'})
rain = rain.rename(columns={'2021_damage' : 'damage_conv'})

In [48]:
rain['date'] = pd.to_datetime(rain[['year', 'month', 'day']])
del rain['day']
del rain['year']
del rain['month']
# rain

In [49]:
rain = rain.rename(columns={'typoon_dum' : 'typhoon_yn'})
rain['rain_yn'] = 1
del rain['wet_area']
del rain['total_rain']
del rain['duration_day']
del rain['typoon']
del rain['duration_hour']
del rain['max_rain']
del rain['day_rain']
del rain['cum_rain_2']
del rain['cum_rain_3']
del rain['max_wind']
del rain['avg_temp']
del rain['district']

In [9]:
rain

           date add  typhoon_yn   damage_conv  rain_yn
0    1998-05-01  서울         0.0  5.592550e+03      1.0
1    1998-05-02  서울         0.0  5.592550e+03      1.0
2    1998-06-23  경남         0.0  1.398138e+04      1.0
3    1998-06-23  경북         0.0  3.778152e+05      1.0
4    1998-06-23  광주         0.0  0.000000e+00      1.0
...         ...  ..         ...           ...      ...
3991 2016-10-06  울산         0.0  4.651448e+06      1.0
3992 2016-10-06  인천         0.0  7.773362e+04      1.0
3993 2016-10-06  전남         0.0  1.438374e+04      1.0
3994 2016-10-06  전북         0.0  0.000000e+00      1.0
3995 2016-10-06  제주         0.0  1.393392e+07      1.0

[3996 rows x 5 columns]

In [50]:
rain_damage = rain[['date', 'add', 'damage_conv']]
rain_wo_damage = rain[['date', 'add', 'typhoon_yn', 'rain_yn']]

In [51]:
rain_damage = rain_damage.groupby(['date', 'add'], as_index=False).sum()
rain_wo_damage = rain_wo_damage.groupby(['date', 'add'], as_index=False).median()

In [16]:
print(rain_damage)
print(rain_wo_damage)

           date add   damage_conv
0    1998-05-01  서울  5.592550e+03
1    1998-05-02  서울  5.592550e+03
2    1998-06-23  경남  1.398138e+04
3    1998-06-23  경북  3.778152e+05
4    1998-06-23  광주  0.000000e+00
...         ...  ..           ...
3991 2016-10-06  울산  4.651448e+06
3992 2016-10-06  인천  7.773362e+04
3993 2016-10-06  전남  1.438374e+04
3994 2016-10-06  전북  0.000000e+00
3995 2016-10-06  제주  1.393392e+07

[3996 rows x 3 columns]
           date add  typhoon_yn  rain_yn
0    1998-05-01  서울         0.0      1.0
1    1998-05-02  서울         0.0      1.0
2    1998-06-23  경남         0.0      1.0
3    1998-06-23  경북         0.0      1.0
4    1998-06-23  광주         0.0      1.0
...         ...  ..         ...      ...
3991 2016-10-06  울산         0.0      1.0
3992 2016-10-06  인천         0.0      1.0
3993 2016-10-06  전남         0.0      1.0
3994 2016-10-06  전북         0.0      1.0
3995 2016-10-06  제주         0.0      1.0

[3996 rows x 4 columns]

##### set(rain['date'])

In [41]:
rain = pd.merge(rain_damage, rain_wo_damage, on = ['date', 'add'])
# rain

In [40]:
all_merged = pd.read_csv('../data/기상데이터(찐최종).csv')
all_merged['date'] = pd.to_datetime(all_merged['date'], format='%Y-%m-%d')

In [28]:
dates_tobe = list(set(all_merged['date']))
dates_check = list(rain['date'])

In [29]:
for i in range(len(dates_tobe)):
  dates_tobe[i] = str(dates_tobe[i])[0:10]

for i in range(len(dates_check)):
   dates_check[i] = str(dates_check[i])[0:10]

In [30]:
#rain_yn_l = pd.DataFrame({'rain_yn_l' : rain_yn_l})
#our_dates = pd.DataFrame({'our_dates' : our_dates})

In [31]:
yes_no_index = []
for i in range(len(dates_check)):
  if dates_check[i] in dates_tobe :
    yes_no_index.append(1)
  else:
    yes_no_index.append(0)

In [32]:
rain['yes_no_index'] = yes_no_index

In [33]:
rain_merging = rain[rain['yes_no_index'] == 1]
del rain_merging['yes_no_index']
rain_merging = rain_merging[['typhoon_yn', 'add', 'damage_conv', 'date', 'rain_yn']]

In [34]:
# rain_merging = rain_merging.rename(columns={'typoon' : 'typhoon_yn', '2021_damage' : 'damage_conv'})
rain_merging['typhoon_yn'][rain_merging['typhoon_yn'] == '없음'] = 0
rain_merging['typhoon_yn'][rain_merging['typhoon_yn'] != 0] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

아무 문제 없는지 확인해보기

In [35]:
# rain = pd.read_csv('../data/rain_ver5.csv')
merged_fixing = pd.merge(all_merged, rain_merging, on = ['date', 'add'], how='outer')
merged_fixing['typhoon_yn'][merged_fixing['typhoon_yn'].isna() == True] = 0
merged_fixing['damage_conv'][merged_fixing['damage_conv'].isna() == True] = 0
merged_fixing['rain_yn'][merged_fixing['rain_yn'].isna() == True] = 0

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [37]:
merged_fixing

,Unnamed: 0,date,add,ca,avg_ws,mix_ws,max_ws,max_ws_wd,max_wd,max_ins_ws,max_ins_ws_wd,mix_wd,avg_ta,sum_rn,typhoon_yn,damage_conv,rain_yn
0,0,2012-01-01,강원,5.953846,1.80,1.30,5.100,258.50,247.50,9.00,272.800,263.90,-4.20,0.143678,0.0,0.0,0.0
1,1,2012-01-01,경기,4.880000,1.50,1.30,5.700,288.20,292.50,10.60,281.300,300.60,-3.70,0.018018,0.0,0.0,0.0
2,2,2012-01-01,경남,4.075000,2.10,1.55,6.600,295.10,270.00,11.30,295.300,292.50,0.05,0.055556,0.0,0.0,0.0
3,3,2012-01-01,경북,5.325000,2.40,2.00,6.700,302.45,292.50,11.30,293.500,294.45,-0.85,0.612500,0.0,0.0,0.0
4,4,2012-01-01,광주,8.300000,2.10,1.70,6.400,308.65,315.00,10.40,302.350,326.65,0.95,0.750000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67264,67264,2022-10-31,전남,2.784615,1.60,1.00,4.400,89.00,67.50,7.30,106.800,52.60,14.20,0.000000,0.0,0.0,0.0
67265,67265,2022-10-31,전북,3.620000,1.20,0.50,3.800,280.20,135.00,6.10,275.600,264.70,13.00,0.000000,0.0,0.0,0.0
67266,67266,2022-10-31,제주,3.325000,3.95,3.60,6.250,61.20,67.50,10.90,63.750,63.00,16.25,0.000000,0.0,0.0,0.0
67267,67267,2022-10-31,충남,4.471429,1.00,0.40,3.625,178.40,135.00,5.70,193.475,169.80,13.45,0.000000,0.0,0.0,0.0
67268,67268,2022-10-31,충북,4.620000,0.75,0.30,2.900,191.55,123.75,5.05,168.800,134.75,10.85,0.000000,0.0,0.0,0.0

In [36]:
merged_fixing.isna().sum()

Unnamed: 0       0
date             0
add              0
ca               0
avg_ws           0
mix_ws           0
max_ws           0
max_ws_wd        0
max_wd           0
max_ins_ws       0
max_ins_ws_wd    0
mix_wd           0
avg_ta           0
sum_rn           0
typhoon_yn       0
damage_conv      0
rain_yn          0
dtype: int64

In [38]:
merged_fixing.to_csv('../data/기상호우태풍병합데이터(찐찐최종).csv')
merged_final = merged_fixing
merged_final['rain_yn'] = merged_final['rain_yn'].astype(int)

In [39]:
df_with_notyphoon = merged_final[merged_final['typhoon_yn']==0]
df_with_rain = merged_final[merged_final['rain_yn']==1]

del df_with_notyphoon['typhoon_yn']
df_notyphoon_norain = df_with_notyphoon[df_with_notyphoon['rain_yn']==0]
del df_notyphoon_norain['rain_yn']
df_notyphoon_norain # 호우, 태풍 둘 다 없는 날

df_notyphoon_yesrain = df_with_notyphoon[df_with_notyphoon['rain_yn']==1]
del df_notyphoon_yesrain['rain_yn']
df_notyphoon_yesrain # 호우는 내렸지만 태풍은 없던 날

df_yesrain_yestyphoon = df_with_rain[df_with_rain['typhoon_yn'] == 1]
del df_yesrain_yestyphoon['typhoon_yn']
del df_yesrain_yestyphoon['rain_yn']
df_yesrain_yestyphoon   # 호우랑 태풍 둘다 있었던 날. 정확하게는 태풍이 있어서 호우가 있었던 날

df_notyphoon_norain.to_csv('../data/df_notyphoon_norain(찐찐최종).csv')
df_notyphoon_yesrain.to_csv('../data/df_notyphoon_yesrain(찐찐최종).csv')
df_yesrain_yestyphoon.to_csv('../data/df_yesrain_yestyphoon(찐찐최종).csv')

# ---------------------------------------------------------------------  
수현이 회귀용

In [52]:
all_merged = pd.read_csv('../data/기상데이터(찐최종).csv')
all_merged['date'] = pd.to_datetime(all_merged['date'], format='%Y-%m-%d')

In [54]:
rain = pd.read_csv('../data/rain_ver5.csv', index_col = 0)
# rain

In [55]:
rain = rain.rename(columns={'provin' : 'add'})
rain = rain.rename(columns={'2021_damage' : 'damage_conv'})

In [56]:
rain['date'] = pd.to_datetime(rain[['year', 'month', 'day']])
rain['date'] = pd.to_datetime(rain['date'], format='%Y-%m-%d')
del rain['day']
del rain['year']
del rain['month']
# rain

In [57]:
rain = rain.rename(columns={'typoon_dum' : 'typhoon_yn'})
rain['rain_yn'] = 1
del rain['wet_area']
del rain['total_rain']
del rain['duration_day']
del rain['typoon']
del rain['duration_hour']
del rain['max_rain']
del rain['day_rain']
del rain['cum_rain_2']
del rain['cum_rain_3']
del rain['max_wind']
del rain['avg_temp']
del rain['district']

In [58]:
dates_tobe = list(set(all_merged['date']))
dates_check = list(rain['date'])

In [59]:
for i in range(len(dates_tobe)):
  dates_tobe[i] = str(dates_tobe[i])[0:10]

for i in range(len(dates_check)):
   dates_check[i] = str(dates_check[i])[0:10]

In [30]:
#rain_yn_l = pd.DataFrame({'rain_yn_l' : rain_yn_l})
#our_dates = pd.DataFrame({'our_dates' : our_dates})

In [60]:
yes_no_index = []
for i in range(len(dates_check)):
  if dates_check[i] in dates_tobe :
    yes_no_index.append(1)
  else:
    yes_no_index.append(0)

In [61]:
rain['yes_no_index'] = yes_no_index

In [62]:
rain_merging = rain[rain['yes_no_index'] == 1]
del rain_merging['yes_no_index']
rain_merging = rain_merging[['typhoon_yn', 'add', 'damage_conv', 'date', 'rain_yn']]

In [63]:
# rain_merging = rain_merging.rename(columns={'typoon' : 'typhoon_yn', '2021_damage' : 'damage_conv'})
rain_merging['typhoon_yn'][rain_merging['typhoon_yn'] == '없음'] = 0
rain_merging['typhoon_yn'][rain_merging['typhoon_yn'] != 0] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

아무 문제 없는지 확인해보기

In [64]:
# rain = pd.read_csv('../data/rain_ver5.csv')
merged_fixing = pd.merge(all_merged, rain_merging, on = ['date', 'add'], how='outer')
merged_fixing['typhoon_yn'][merged_fixing['typhoon_yn'].isna() == True] = 0
merged_fixing['damage_conv'][merged_fixing['damage_conv'].isna() == True] = 0
merged_fixing['rain_yn'][merged_fixing['rain_yn'].isna() == True] = 0

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [66]:
merged_fixing.to_csv('../data/기상호우태풍병합데이터(수현용).csv')