In [2]:
# from google.colab import files
# from google.colab import drive
import os
import io
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import chisquare
import numpy as np

from datetime import datetime
# drive.mount('/content/drive') #/MyDrive/Colab Notebooks/데이터/기상데이터

In [7]:
rn = pd.read_csv('../data/rn.csv', index_col = 0)
lon_lat = pd.read_csv('../data//mapping_0713.csv', index_col = 0)

rn = rn.rename(columns = {'a.tma' : 'tma', 'a.stn_id' : 'stn_id', 'a.sum_rn' : 'sum_rn', 'a.hr1_max_rn' : 'hr1_max_rn'})

# rn = pd.merge(rn, lon_lat, on = ['stn_id'])

rn['date'] = rn['tma'].map(lambda date_rn: date_rn[:10])
rn['time'] = rn['tma'].map(lambda time_rn: time_rn[11:-2])
rn['date'] = pd.to_datetime(rn['date'], format='%Y-%m-%d')
rn['time'] = pd.to_datetime(rn['time'], format='%H:%M:%S')

rn_ds = rn.groupby(['date', 'stn_id'], as_index=False).median()

rn_ds = pd.merge(rn_ds, lon_lat, on = ['stn_id'])

del rn_ds['name']
del rn_ds['address']
del rn_ds['hr1_max_rn']


rn = rn_ds

In [8]:
rn

              date  stn_id  sum_rn       lat       long add
0       2012-01-01      12     1.5  36.53330  126.31670  충남
1       2012-01-02      12     0.0  36.53330  126.31670  충남
2       2012-01-03      12     2.0  36.53330  126.31670  충남
3       2012-01-04      12     1.5  36.53330  126.31670  충남
4       2012-01-05      12     0.0  36.53330  126.31670  충남
...            ...     ...     ...       ...        ...  ..
2632945 2022-11-04     239     0.0  36.48522  127.24438  충남
2632946 2022-11-05     239     0.0  36.48522  127.24438  충남
2632947 2022-11-06     239     0.0  36.48522  127.24438  충남
2632948 2022-11-07     239     0.0  36.48522  127.24438  충남
2632949 2022-11-08     239     0.0  36.48522  127.24438  충남

[2632950 rows x 6 columns]

# -------------------------------------------  
# Linear Interpolation

In [9]:
days = pd.DataFrame({'date' : pd.date_range(start="2012-02-01",end="2022-10-31")})

In [10]:
rn['date'] = pd.to_datetime(rn['date'])
rn['date'] = pd.to_datetime(rn['date'], format='%Y-%m-%d')

In [11]:
rn_Gangwon = rn[rn['add']=='강원']
rn_Gyeonggi = rn[rn['add']=='경기']
rn_Gyeongnam = rn[rn['add']=='경남']
rn_Gyeongbuk = rn[rn['add']=='경북']
rn_Gwangju = rn[rn['add']=='광주']
rn_Daegu = rn[rn['add']=='대구']
rn_Daejeon = rn[rn['add']=='대전']
rn_Busan = rn[rn['add']=='부산']
rn_Seoul = rn[rn['add']=='서울']
rn_Sejong = rn[rn['add']=='세종']
rn_Ulsan = rn[rn['add']=='울산']
rn_Incheon = rn[rn['add']=='인천']
rn_Jeonnam = rn[rn['add']=='전남']
rn_Jeonbuk = rn[rn['add']=='전북']
rn_Jeju = rn[rn['add']=='제주']
rn_Chungnam = rn[rn['add']=='충남']
rn_Chungbuk = rn[rn['add']=='충북']

## 강원

In [12]:
rn_Gangwon_outer = pd.merge(rn_Gangwon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Gangwon_outer['sum_rn'] = rn_Gangwon_outer['sum_rn'].interpolate(method = 'values')
# rn_Gangwon_outer['hr1_max_rn'] = rn_Gangwon_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Gangwon_outer['add'] = '강원'
del rn_Gangwon_outer['stn_id']
del rn_Gangwon_outer['lat']
del rn_Gangwon_outer['long']

## 경기

In [13]:
rn_Gyeonggi_outer = pd.merge(rn_Gyeonggi, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Gyeonggi_outer['sum_rn'] = rn_Gyeonggi_outer['sum_rn'].interpolate(method = 'values')
# rn_Gyeonggi_outer['hr1_max_rn'] = rn_Gyeonggi_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Gyeonggi_outer['add'] = '경기'
del rn_Gyeonggi_outer['stn_id']
del rn_Gyeonggi_outer['lat']
del rn_Gyeonggi_outer['long']

## 경남

In [14]:
rn_Gyeongnam_outer = pd.merge(rn_Gyeongnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Gyeongnam_outer['sum_rn'] = rn_Gyeongnam_outer['sum_rn'].interpolate(method = 'values')
# rn_Gyeongnam_outer['hr1_max_rn'] = rn_Gyeongnam_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Gyeongnam_outer['add'] = '경남'
del rn_Gyeongnam_outer['stn_id']
del rn_Gyeongnam_outer['lat']
del rn_Gyeongnam_outer['long']

## 경북

In [15]:
rn_Gyeongbuk_outer = pd.merge(rn_Gyeongbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Gyeongbuk_outer['sum_rn'] = rn_Gyeongbuk_outer['sum_rn'].interpolate(method = 'values')
# rn_Gyeongbuk_outer['hr1_max_rn'] = rn_Gyeongbuk_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Gyeongbuk_outer['add'] = '경북'
del rn_Gyeongbuk_outer['stn_id']
del rn_Gyeongbuk_outer['lat']
del rn_Gyeongbuk_outer['long']

## 광주

In [16]:
rn_Gwangju_outer = pd.merge(rn_Gwangju, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Gwangju_outer['sum_rn'] = rn_Gwangju_outer['sum_rn'].interpolate(method = 'values')
# rn_Gwangju_outer['hr1_max_rn'] = rn_Gwangju_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Gwangju_outer['add'] = '광주'
del rn_Gwangju_outer['stn_id']
del rn_Gwangju_outer['lat']
del rn_Gwangju_outer['long']

## 대구

In [17]:
rn_Daegu_outer = pd.merge(rn_Daegu, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Daegu_outer['sum_rn'] = rn_Daegu_outer['sum_rn'].interpolate(method = 'values')
# rn_Daegu_outer['hr1_max_rn'] = rn_Daegu_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Daegu_outer['add'] = '대구'
del rn_Daegu_outer['stn_id']
del rn_Daegu_outer['lat']
del rn_Daegu_outer['long']

## 대전

In [18]:
rn_Daejeon_outer = pd.merge(rn_Daejeon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Daejeon_outer['sum_rn'] = rn_Daejeon_outer['sum_rn'].interpolate(method = 'values')
# rn_Daejeon_outer['hr1_max_rn'] = rn_Daejeon_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Daejeon_outer['add'] = '대전'
del rn_Daejeon_outer['stn_id']
del rn_Daejeon_outer['lat']
del rn_Daejeon_outer['long']

## 부산

In [19]:
rn_Busan_outer = pd.merge(rn_Busan, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Busan_outer['sum_rn'] = rn_Busan_outer['sum_rn'].interpolate(method = 'values')
# rn_Busan_outer['hr1_max_rn'] = rn_Busan_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Busan_outer['add'] = '부산'
del rn_Busan_outer['stn_id']
del rn_Busan_outer['lat']
del rn_Busan_outer['long']

## 서울

In [20]:
rn_Seoul_outer = pd.merge(rn_Seoul, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Seoul_outer['sum_rn'] = rn_Seoul_outer['sum_rn'].interpolate(method = 'values')
# rn_Seoul_outer['hr1_max_rn'] = rn_Seoul_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Seoul_outer['add'] = '서울'
del rn_Seoul_outer['stn_id']
del rn_Seoul_outer['lat']
del rn_Seoul_outer['long']

## 세종

In [21]:
rn_Sejong_outer = pd.merge(rn_Sejong, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Sejong_outer['sum_rn'] = rn_Sejong_outer['sum_rn'].interpolate(method = 'values')
# rn_Sejong_outer['hr1_max_rn'] = rn_Sejong_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Sejong_outer['add'] = '세종'
del rn_Sejong_outer['stn_id']
del rn_Sejong_outer['lat']
del rn_Sejong_outer['long']

## 울산

In [22]:
rn_Ulsan_outer = pd.merge(rn_Ulsan, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Ulsan_outer['sum_rn'] = rn_Ulsan_outer['sum_rn'].interpolate(method = 'values')
# rn_Ulsan_outer['hr1_max_rn'] = rn_Ulsan_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Ulsan_outer['add'] = '울산'
del rn_Ulsan_outer['stn_id']
del rn_Ulsan_outer['lat']
del rn_Ulsan_outer['long']

## 인천

In [23]:
rn_Incheon_outer = pd.merge(rn_Incheon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Incheon_outer['sum_rn'] = rn_Incheon_outer['sum_rn'].interpolate(method = 'values')
# rn_Incheon_outer['hr1_max_rn'] = rn_Incheon_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Incheon_outer['add'] = '인천'
del rn_Incheon_outer['stn_id']
del rn_Incheon_outer['lat']
del rn_Incheon_outer['long']

## 전남

In [24]:
rn_Jeonnam_outer = pd.merge(rn_Jeonnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Jeonnam_outer['sum_rn'] = rn_Jeonnam_outer['sum_rn'].interpolate(method = 'values')
# rn_Jeonnam_outer['hr1_max_rn'] = rn_Jeonnam_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Jeonnam_outer['add'] = '전남'
del rn_Jeonnam_outer['stn_id']
del rn_Jeonnam_outer['lat']
del rn_Jeonnam_outer['long']

## 전북

In [25]:
rn_Jeonbuk_outer = pd.merge(rn_Jeonbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Jeonbuk_outer['sum_rn'] = rn_Jeonbuk_outer['sum_rn'].interpolate(method = 'values')
# rn_Jeonbuk_outer['hr1_max_rn'] = rn_Jeonbuk_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Jeonbuk_outer['add'] = '전북'
del rn_Jeonbuk_outer['stn_id']
del rn_Jeonbuk_outer['lat']
del rn_Jeonbuk_outer['long']

## 제주

In [26]:
rn_Jeju_outer = pd.merge(rn_Jeju, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Jeju_outer['sum_rn'] = rn_Jeju_outer['sum_rn'].interpolate(method = 'values')
# rn_Jeju_outer['hr1_max_rn'] = rn_Jeju_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Jeju_outer['add'] = '제주'
del rn_Jeju_outer['stn_id']
del rn_Jeju_outer['lat']
del rn_Jeju_outer['long']

## 충남

In [27]:
rn_Chungnam_outer = pd.merge(rn_Chungnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Chungnam_outer['sum_rn'] = rn_Chungnam_outer['sum_rn'].interpolate(method = 'values')
# rn_Chungnam_outer['hr1_max_rn'] = rn_Chungnam_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Chungnam_outer['add'] = '충남'
del rn_Chungnam_outer['stn_id']
del rn_Chungnam_outer['lat']
del rn_Chungnam_outer['long']

## 충북

In [28]:
rn_Chungbuk_outer = pd.merge(rn_Chungbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

rn_Chungbuk_outer['sum_rn'] = rn_Chungbuk_outer['sum_rn'].interpolate(method = 'values')
# rn_Chungbuk_outer['hr1_max_rn'] = rn_Chungbuk_outer['hr1_max_rn'].interpolate(method = 'values')

rn_Chungbuk_outer['add'] = '충북'
del rn_Chungbuk_outer['stn_id']
del rn_Chungbuk_outer['lat']
del rn_Chungbuk_outer['long']

In [33]:
rn_full = pd.concat([rn_Gangwon_outer,
           rn_Gyeonggi_outer, 
           rn_Gyeongbuk_outer, 
           rn_Gyeongnam_outer,
           rn_Gwangju_outer,
           rn_Daegu_outer,
           rn_Daejeon_outer,
           rn_Busan_outer,
           rn_Seoul_outer,
           rn_Sejong_outer,
           rn_Ulsan_outer,
           rn_Incheon_outer,
           rn_Jeonnam_outer,
           rn_Jeonbuk_outer,
           rn_Jeju_outer,
           rn_Chungnam_outer,
           rn_Chungbuk_outer], axis=0)
# 날짜별 - 시도별로 정렬되어 있어야 함
rn_full.sort_values(by = ['date','add'])
rn_full = rn_full.groupby(['date', 'add'], as_index=False).mean()
rn_full = rn_full.sort_values(by = ['date','add'])
# 66742 행이 있어야 해

In [36]:
rn_full = rn_full.iloc[:67269]

In [37]:
rn_full.to_csv('../data/rn_for_merge.csv')

In [38]:
pd.read_csv('../data/rn_for_merge.csv', index_col = 0)

             date add    sum_rn
0      2012-01-01  강원  0.143678
1      2012-01-01  경기  0.018018
2      2012-01-01  경남  0.055556
3      2012-01-01  경북  0.612500
4      2012-01-01  광주  0.750000
...           ...  ..       ...
67264  2022-10-31  전남  0.000000
67265  2022-10-31  전북  0.000000
67266  2022-10-31  제주  0.000000
67267  2022-10-31  충남  0.000000
67268  2022-10-31  충북  0.000000

[67269 rows x 3 columns]