In [2]:
# from google.colab import files
# from google.colab import drive
import os
import io
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import chisquare
import numpy as np

from datetime import datetime
# drive.mount('/content/drive') #/MyDrive/Colab Notebooks/데이터/기상데이터

In [10]:
ta = pd.read_csv('../data/wind.csv', index_col = 0)
lon_lat = pd.read_csv('../data//mapping_0713.csv', index_col = 0)

ta = ta.rename(columns = {'a.tma' : 'tma', 'a.stn_id' : 'stn_id', 'a.avg_ta' : 'avg_ta'})

# ta = pd.merge(ta, lon_lat, on = ['stn_id'])

ta['date'] = ta['tma'].map(lambda date_ta: date_ta[:10])
ta['time'] = ta['tma'].map(lambda time_ta: time_ta[11:-2])
ta['date'] = pd.to_datetime(ta['date'], format='%Y-%m-%d')
ta['time'] = pd.to_datetime(ta['time'], format='%H:%M:%S')


ta_ds = ta.groupby(['date', 'stn_id'], as_index=False).median()

ta_ds = pd.merge(ta_ds, lon_lat, on = ['stn_id'])

del ta_ds['name']
del ta_ds['address']

ta = ta_ds

In [11]:
ta

              date  stn_id  avg_ta       lat       long add
0       2012-01-01      12    -0.9  36.53330  126.31670  충남
1       2012-01-02      12    -2.4  36.53330  126.31670  충남
2       2012-01-03      12    -1.6  36.53330  126.31670  충남
3       2012-01-04      12    -4.0  36.53330  126.31670  충남
4       2012-01-05      12    -3.2  36.53330  126.31670  충남
...            ...     ...     ...       ...        ...  ..
2633689 2022-11-04     239     5.7  36.48522  127.24438  충남
2633690 2022-11-05     239     5.9  36.48522  127.24438  충남
2633691 2022-11-06     239     8.1  36.48522  127.24438  충남
2633692 2022-11-07     239     9.3  36.48522  127.24438  충남
2633693 2022-11-08     239    11.9  36.48522  127.24438  충남

[2633694 rows x 6 columns]

# -------------------------------------------  
# Linear Interpolation

In [12]:
days = pd.DataFrame({'date' : pd.date_range(start="2012-02-01",end="2022-10-31")})

In [13]:
ta['date'] = pd.to_datetime(ta['date'])
ta['date'] = pd.to_datetime(ta['date'], format='%Y-%m-%d')

# del ta['ta.max_ta']
# del ta['ta.min_ta']

In [14]:
ta_Gangwon = ta[ta['add']=='강원']
ta_Gyeonggi = ta[ta['add']=='경기']
ta_Gyeongnam = ta[ta['add']=='경남']
ta_Gyeongbuk = ta[ta['add']=='경북']
ta_Gwangju = ta[ta['add']=='광주']
ta_Daegu = ta[ta['add']=='대구']
ta_Daejeon = ta[ta['add']=='대전']
ta_Busan = ta[ta['add']=='부산']
ta_Seoul = ta[ta['add']=='서울']
ta_Sejong = ta[ta['add']=='세종']
ta_Ulsan = ta[ta['add']=='울산']
ta_Incheon = ta[ta['add']=='인천']
ta_Jeonnam = ta[ta['add']=='전남']
ta_Jeonbuk = ta[ta['add']=='전북']
ta_Jeju = ta[ta['add']=='제주']
ta_Chungnam = ta[ta['add']=='충남']
ta_Chungbuk = ta[ta['add']=='충북']

'a.tma' : 'tma', 'a.stn_id' : 'stn_id', 'a.avg_ta' : 'ta.avg_ta', 'a.max_ta' : 'ta.max_ta', 'a.min_ta' : 'ta.min_ta'

## 강원

In [15]:
ta_Gangwon_outer = pd.merge(ta_Gangwon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Gangwon_outer['avg_ta'] = ta_Gangwon_outer['avg_ta'].interpolate(method = 'values')

ta_Gangwon_outer['add'] = '강원'
del ta_Gangwon_outer['stn_id']
del ta_Gangwon_outer['lat']
del ta_Gangwon_outer['long']

## 경기

In [16]:
ta_Gyeonggi_outer = pd.merge(ta_Gyeonggi, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Gyeonggi_outer['avg_ta'] = ta_Gyeonggi_outer['avg_ta'].interpolate(method = 'values')

ta_Gyeonggi_outer['add'] = '경기'
del ta_Gyeonggi_outer['stn_id']
del ta_Gyeonggi_outer['lat']
del ta_Gyeonggi_outer['long']

## 경남

In [17]:
ta_Gyeongnam_outer = pd.merge(ta_Gyeongnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Gyeongnam_outer['avg_ta'] = ta_Gyeongnam_outer['avg_ta'].interpolate(method = 'values')

ta_Gyeongnam_outer['add'] = '경남'
del ta_Gyeongnam_outer['stn_id']
del ta_Gyeongnam_outer['lat']
del ta_Gyeongnam_outer['long']

## 경북

In [18]:
ta_Gyeongbuk_outer = pd.merge(ta_Gyeongbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Gyeongbuk_outer['avg_ta'] = ta_Gyeongbuk_outer['avg_ta'].interpolate(method = 'values')

ta_Gyeongbuk_outer['add'] = '경북'
del ta_Gyeongbuk_outer['stn_id']
del ta_Gyeongbuk_outer['lat']
del ta_Gyeongbuk_outer['long']

## 광주

In [19]:
ta_Gwangju_outer = pd.merge(ta_Gwangju, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Gwangju_outer['avg_ta'] = ta_Gwangju_outer['avg_ta'].interpolate(method = 'values')

ta_Gwangju_outer['add'] = '광주'
del ta_Gwangju_outer['stn_id']
del ta_Gwangju_outer['lat']
del ta_Gwangju_outer['long']

## 대구

In [20]:
ta_Daegu_outer = pd.merge(ta_Daegu, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Daegu_outer['avg_ta'] = ta_Daegu_outer['avg_ta'].interpolate(method = 'values')

ta_Daegu_outer['add'] = '대구'
del ta_Daegu_outer['stn_id']
del ta_Daegu_outer['lat']
del ta_Daegu_outer['long']

## 대전

In [21]:
ta_Daejeon_outer = pd.merge(ta_Daejeon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Daejeon_outer['avg_ta'] = ta_Daejeon_outer['avg_ta'].interpolate(method = 'values')

ta_Daejeon_outer['add'] = '대전'
del ta_Daejeon_outer['stn_id']
del ta_Daejeon_outer['lat']
del ta_Daejeon_outer['long']

## 부산

In [22]:
ta_Busan_outer = pd.merge(ta_Busan, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Busan_outer['avg_ta'] = ta_Busan_outer['avg_ta'].interpolate(method = 'values')

ta_Busan_outer['add'] = '부산'
del ta_Busan_outer['stn_id']
del ta_Busan_outer['lat']
del ta_Busan_outer['long']

## 서울

In [23]:
ta_Seoul_outer = pd.merge(ta_Seoul, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Seoul_outer['avg_ta'] = ta_Seoul_outer['avg_ta'].interpolate(method = 'values')

ta_Seoul_outer['add'] = '서울'
del ta_Seoul_outer['stn_id']
del ta_Seoul_outer['lat']
del ta_Seoul_outer['long']

## 세종

In [24]:
ta_Sejong_outer = pd.merge(ta_Sejong, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Sejong_outer['avg_ta'] = ta_Sejong_outer['avg_ta'].interpolate(method = 'values')

ta_Sejong_outer['add'] = '세종'
del ta_Sejong_outer['stn_id']
del ta_Sejong_outer['lat']
del ta_Sejong_outer['long']

## 울산

In [25]:
ta_Ulsan_outer = pd.merge(ta_Ulsan, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Ulsan_outer['avg_ta'] = ta_Ulsan_outer['avg_ta'].interpolate(method = 'values')

ta_Ulsan_outer['add'] = '울산'
del ta_Ulsan_outer['stn_id']
del ta_Ulsan_outer['lat']
del ta_Ulsan_outer['long']

## 인천

In [26]:
ta_Incheon_outer = pd.merge(ta_Incheon, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Incheon_outer['avg_ta'] = ta_Incheon_outer['avg_ta'].interpolate(method = 'values')

ta_Incheon_outer['add'] = '인천'
del ta_Incheon_outer['stn_id']
del ta_Incheon_outer['lat']
del ta_Incheon_outer['long']

## 전남

In [27]:
ta_Jeonnam_outer = pd.merge(ta_Jeonnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Jeonnam_outer['avg_ta'] = ta_Jeonnam_outer['avg_ta'].interpolate(method = 'values')

ta_Jeonnam_outer['add'] = '전남'
del ta_Jeonnam_outer['stn_id']
del ta_Jeonnam_outer['lat']
del ta_Jeonnam_outer['long']

## 전북

In [28]:
ta_Jeonbuk_outer = pd.merge(ta_Jeonbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Jeonbuk_outer['avg_ta'] = ta_Jeonbuk_outer['avg_ta'].interpolate(method = 'values')

ta_Jeonbuk_outer['add'] = '전북'
del ta_Jeonbuk_outer['stn_id']
del ta_Jeonbuk_outer['lat']
del ta_Jeonbuk_outer['long']

## 제주

In [29]:
ta_Jeju_outer = pd.merge(ta_Jeju, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Jeju_outer['avg_ta'] = ta_Jeju_outer['avg_ta'].interpolate(method = 'values')

ta_Jeju_outer['add'] = '제주'
del ta_Jeju_outer['stn_id']
del ta_Jeju_outer['lat']
del ta_Jeju_outer['long']

## 충남

In [30]:
ta_Chungnam_outer = pd.merge(ta_Chungnam, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Chungnam_outer['avg_ta'] = ta_Chungnam_outer['avg_ta'].interpolate(method = 'values')

ta_Chungnam_outer['add'] = '충남'
del ta_Chungnam_outer['stn_id']
del ta_Chungnam_outer['lat']
del ta_Chungnam_outer['long']

## 충북

In [31]:
ta_Chungbuk_outer = pd.merge(ta_Chungbuk, days, on = ['date'], how = 'outer').sort_values(by = 'date')

ta_Chungbuk_outer['avg_ta'] = ta_Chungbuk_outer['avg_ta'].interpolate(method = 'values')

ta_Chungbuk_outer['add'] = '충북'
del ta_Chungbuk_outer['stn_id']
del ta_Chungbuk_outer['lat']
del ta_Chungbuk_outer['long']

In [33]:
ta_full = pd.concat([ta_Gangwon_outer,
           ta_Gyeonggi_outer, 
           ta_Gyeongbuk_outer, 
           ta_Gyeongnam_outer,
           ta_Gwangju_outer,
           ta_Daegu_outer,
           ta_Daejeon_outer,
           ta_Busan_outer,
           ta_Seoul_outer,
           ta_Sejong_outer,
           ta_Ulsan_outer,
           ta_Incheon_outer,
           ta_Jeonnam_outer,
           ta_Jeonbuk_outer,
           ta_Jeju_outer,
           ta_Chungnam_outer,
           ta_Chungbuk_outer], axis=0)
# 날짜별 - 시도별로 정렬되어 있어야 함
ta_full.sort_values(by = ['date','add'])
ta_full = ta_full.groupby(['date', 'add'], as_index=False).median()
ta_full = ta_full.sort_values(by = ['date','add'])

# 66742 행이 있어야 해

In [50]:
ta_final = ta_full.iloc[:67269]

In [ ]:
ta_final.isna().sum()

date      0
add       0
avg_ta    0
dtype: int64

In [48]:
3957*17

67269

In [52]:
ta_final.to_csv('../data/ta_for_merge.csv')

In [53]:
pd.read_csv('../data/ta_for_merge.csv', index_col = 0)

             date add  avg_ta
0      2012-01-01  강원   -4.20
1      2012-01-01  경기   -3.70
2      2012-01-01  경남    0.05
3      2012-01-01  경북   -0.85
4      2012-01-01  광주    0.95
...           ...  ..     ...
67264  2022-10-31  전남   14.20
67265  2022-10-31  전북   13.00
67266  2022-10-31  제주   16.25
67267  2022-10-31  충남   13.45
67268  2022-10-31  충북   10.85

[67269 rows x 3 columns]